<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="theme-color" content="#db0000" />
	<link rel="apple-touch-icon" href="/icons/icon-192x192.png">
	<link rel="icon" href="favicon.png" />
	<link rel="manifest" href="manifest.json">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		crossorigin="anonymous">
	<title>Restaurant Finder</title>
</head>

<body>
	<skip-link></skip-link>
	<!-- Navbar -->
	<nav-bar></nav-bar>
	<!-- Body -->
	<div class="hero">
		<picture>
			<source media="(min-width: 480px)" srcset="../images/heros/hero-image_4-small.jpg" type="image/jpeg">
			<source media="(min-width: 650px)" srcset="../images/heros/hero-image_4-medium.jpg" type="image/jpeg">
			<source media="(min-width: 1200px)" srcset="../images/heros/hero-image_4-large.jpg" type="image/jpeg">
			<img width="100%" src="../images/heros/hero-image_4.jpg" alt="jumbotron"></img>
		</picture>
		<div class="hero_inner">
			<h1 class="hero_title">Restaurant Finder</h1>
			<p class="hero_subtitle">Find the best restaurants here!</p>
		</div>
	</div>
	<main id="content" tabindex="0"></main>
	<footer>
		<p>Copyright © 2022 - Restaurant Finder</p>
	</footer>
</body>

</html>