.restaurant-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    position: relative
}

.restaurant-item__header {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    min-width: 44px;
    min-height: 44px;
    transition: 0.3s opacity
}

.restaurant-item .restaurant-item__header .restaurant-item__header__poster {
    width: 100%;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__rating {
    position: absolute;
    padding: 8px;
    bottom: 20px;
    right: 0;
    display: inline-block;
    background-color: #bf1722;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__rating .restaurant-item__header__rating__score {
    margin-left: 10px;
	min-width: 44px;
    min-height: 44px;
	display: inline-block;
}

.restaurant-item .restaurant-item__content {
    padding: 16px;
	min-width: 44px;
    min-height: 44px;
	display: inline-block;
}

.restaurant-item .restaurant-item__content h3 {
    margin: 0 0 10px 0;
	min-width: 44px;
    min-height: 44px;
	display: inline-block;
}

.restaurant-item .restaurant-item__content h3 a {
    color: #bf1722;
    text-decoration: none;
	min-width: 44px;
    min-height: 44px;
	display: inline-block;
    padding: 10px;
}

.restaurant-item .restaurant-item__content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

/* restaurant detail */
.restaurant {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px 16px;
}

.restaurant .restaurant__poster {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.restaurant .restaurant__info h4 {
    min-width: 44px;
    min-height: 44px;
}

.restaurant .restaurant__info p {
    min-width: 44px;
    min-height: 44px;
}

.restaurant__name p {
    min-width: 44px;
    min-height: 44px;
}

.restaurant__description h3 p {
    min-width: 44px;
    min-height: 44px;
}

/* like button */
.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}